
<h3>Product</h3>
<ol>
<% product.forEach(function(product){ %>
    <li><%= product.name %></li>
<% }) %>
</ol>

<h1>Customers</h1>
<ol>
<% Customers.forEach(function(Customers){ %>
    <li><%= Customers.name %></li>
<% }) %>
</ol>
